html {
   
}

body {
    margin-left: 10px;
    Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    color: #000000;
    background-color: #ffffff;
}


div.leftSide, div.rightSide{
    width:280px;
    display:inline-block;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: text-top;
}

p.beerStyleHeader{
    width: inherit;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

p.beerName {
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    width: inherit;
    display: inline-block;
    
    
}
p1.beerStyle {
    font-size: 10px;
    font-style: italic;
    float: left;
    display: inherit;
    
}
/*
width here must add up to 100 with p1 width
*/
p.abv {
    font-size: 10px;
    width: 66%;
    float: left;
    display: inherit;
    
}

p1.brewery {
    font-size: 10px;
    float: left;
    display: inherit;
}

p.location {
    font-size: 10px;
    width: 30%;
    float: left;
    display: inherit;
}

p.price {
    font-size: 10px;
    text-align: right;

}

p   {
    margin: auto;

}

/*
Modify this to change the width of beer style and brewery name columns
*/
p1   {
    margin: auto;
    width: 33%;

}

/*
this deals with bottled list formatting
*/
div.bottleBox{
    width: 720px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    font-size: 10px;

}

div.bottleCategoryHeader{
    width: 100%;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;

}

div.beerName{
    font-weight: bold;
    width: 100px;
    display: table-cell;
}
div.beerStyle{
    font-style: italic;
    width:100px;
    display: table-cell;
}

div.abv{
    width:100px;
    display: table-cell;
}

div.brewery{
    width:100px;
    display: table-cell;
}

div.location{
    width:100px;   
    display: table-cell;
}

div.price{
    width:100px;
    display: table-cell;
    text-align: right;
}

